<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link data-require="fontawesome@*" data-semver="4.5.0" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Instagram photo recommender</title>

    <script>
        function addSpinner(element) {
            const spinner = document.createElement('span');
            spinner.classList.add('fa', 'fa-spinner', 'fa-spin', 'fa-3x');
            element.parentNode.appendChild(spinner);
            element.style.display = 'none';
        }
    </script>
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-10">
            <h1 class="mt-2">Recommendations for an Instagram profile {{ profile_name }}</h1>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-6">
            <p>Currently uploaded images count: {{ images_count }}</p>
            {% load crispy_forms_tags %}
            <form method="post" action="{% url 'upload_candidates' profile_name %}" novalidate enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <button type="submit" class="btn btn-success" onclick="addSpinner(this);">Upload images</button>
            </form>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-6">
            <p>Analyzed images count from uploads: {{ analyzed_count }}</p>
            <form method="post" action="{% url 'analyze_candidates' profile_name %}" novalidate>
                {% csrf_token %}
                <button type="submit" class="btn btn-danger" onclick="addSpinner(this);">Analyze uploaded images</button>
            </form>
        </div>
    </div>
    <br />
    <br />
    <hr />
    <div class="row">
        <div class="col-6">
            <a href="#"><button class="btn btn-primary">Get recommendations</button></a>
        </div>
    </div>
</div>
</body>
</html>